
#wrapper {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#prompt {
    position: relative;
    background-color: rgba(169, 169, 169, 0.3);
    width: 50%;
    left: 25%;
    margin-bottom: 10px;
    border-color: azure;
    border-width: 1.5px;
    border-radius: 10px;
    border-style: outset;
    text-align: center;
}

#hero_selector {
    position: relative;
    width: 70%;
    height: 100%;
    left: 15%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.hero_box {
    position: relative;
    height: 150px;
    width: 100px;
    transform: skew(-10deg,0); 
    background-color: dodgerblue;
    border-color: azure;
    border-width: 1.5px;
    border-radius: 10px;
    border-style: outset;
    margin-left: 10px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    p {
        position: relative;
        font-size: 2rem;
        bottom: -50%;
        text-align: center;
    }
    :hover {
        opacity: 0.8;
    }
}

#counter_status {
    position: relative;
    width: 50%;
    height: 100%;
    left: 25%;
    color: black;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    div {
        position: relative;
        border-color: azure;
        border-width: 1.5px;
        border-radius: 10px;
        border-style: outset;
        height: 40px;
        width: 30%;
        text-align: center;
        p {
            position: relative;
            font-size: 2rem;
            top: -70%;
        }
    }
}

.targeted {
    background-color: honeydew;
}
.good_pick {
    background-color: palegreen;
}
.neutral_pick {
    background-color: darkgrey;
    opacity: 0.3;
}
.bad_pick {
    background-color: orangered;
}

#widowmaker > p {
    font-size: 1.3rem;
    bottom: -62%;
}
#soldier-76 > p {
    font-size: 1.6rem;
    bottom: -57%;
}